<div class="events">
  <button mat-mini-fab color='accent' class="action-fab-button" (click)="onAddEvent()">
    <mat-icon class="mat-24" aria-label="add">add</mat-icon>
  </button>
  <div class="mat-elevation-z2" style="min-height: 2px"></div>
  <mat-table #table [dataSource]="data_source" class="flex-container">
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef [style.flex]="'1 1 120px'"></mat-header-cell>
      <mat-cell class="event-entry" *matCellDef="let event" (click)="onSelectRow(event)" [style.flex]="'1 1 120px'"> {{event.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef style="text-align:center" [style.flex]="'0 0 85px'"></mat-header-cell>
      <mat-cell *matCellDef="let event" style="text-align:right" [style.flex]="'0 0 85px'">
        <!-- <button mat-icon-button (click)="onDetailEvent(event)">
              <mat-icon color="primary" class="mat-24" aria-label="detail">description</mat-icon>
            </button> -->
        <!-- <button mat-icon-button (click)="onEditEvent(event)">
          <mat-icon color="primary" class="mat-24" aria-label="edit">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDeleteEvent(event)">
          <mat-icon color="primary" class="mat-24" aria-label="edit">close</mat-icon>
        </button> -->
        <div style="cursor:pointer; font-size:8px">
          <mat-icon color="gray" (click)="onEditEvent(event)" class="mat-24" aria-label="edit">edit</mat-icon>
          <mat-icon color="gray" (click)="onDeleteEvent(event)" class="mat-24" aria-label="delete">close</mat-icon>
        </div>
      </mat-cell>
    </ng-container>
    <mat-row style="cursor:pointer" *matRowDef="let row; columns: column_headers;"></mat-row>
  </mat-table>
</div>
