.entries {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding:0px;
}
.entries-top {
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  background: #5C6BC0;
  color: whitesmoke;
}
.summary {
  font-family: 'Roboto', sans-serif;
  max-height: 50px;
}
.summary-item {
  padding: 10px;
  align-self: center;
  min-height: 30px;
  flex: 1 1 auto;
  font-size: 18pt;
  text-align: right;
}
.summary-label {
  padding: 10px;
  min-width: 120px;
  font-size: 18pt;
  align-content: center;
  color: white;
  text-align: center;
}
.link-back {
  width: 30px;
  vertical-align: middle;
  padding-top: 10px;
  color: white;
}

.checkbox-round {
  width: 1.9em;
  height: 1.9em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #999;
}
.checkbox-square {
  width: 1.9em;
  height: 1.9em;
  background-color: white;
  border-radius: 6%;
  vertical-align: middle;
  border: 2px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-square:checked {
  background-color: #BDBDBD;
}

