<div class="mat-elavation-z12" style="min-height: 1px; background-color: #1A237E"></div>
<div class="entries-top  mat-elevation-z10">
  <div class="link-back">
    <button mat-icon-button (click)="goBack()" color="yellow">
      <mat-icon>navigate_before</mat-icon>
    </button>
  </div>
  <h4 style="padding-left: 10px">{{event.description}} </h4>
</div>
<div class="entries">
  <button mat-mini-fab color='accent' class="action-fab-button" (click)="onAddEntry()">
    <mat-icon class="mat-24" aria-label="add">add</mat-icon>
  </button>
  <div class="mat-elevation-z2" style="min-height: 2px"></div>
  <div *ngIf="data_source.has_entries === false" style="text-align:center">
      <p>Start adding entries by clicking the <span> <mat-icon class="mat-24" aria-label="add">add</mat-icon></span> button below.</p>
    </div>
  <div>
    <mat-table #table [dataSource]="data_source">
        <ng-container matColumnDef="indicator">
            <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 5px'"></mat-header-cell>
            <mat-cell *matCellDef="let entries" [style.flex]="'0 0 5px'" >
              <div [style.background-color]="entries.is_expense?'#EC407A' : 'white'" style="color:white">.</div>
            </mat-cell>
          </ng-container>
      <ng-container matColumnDef="exclude">
        <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 30px'"></mat-header-cell>
        <mat-cell *matCellDef="let entries" [style.flex]="'0 0 30px'">
          <input class="checkbox-square" [(ngModel)]="entries.is_excluded" type="checkbox">
          <!-- <mat-checkbox [(ngModel)]="entries.is_excluded" style="align-self:center">
          </mat-checkbox> -->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef style="flex:'1 1 130px'; width:100%"> Description </mat-header-cell>
        <mat-cell *matCellDef="let entries" style="flex:'1 1 130px'; width: 100%" (click)="onEdit(entries)">
          <div class="event-entry" style="padding:2px" [style.text-decoration]="entries.is_excluded? 'line-through':''">
            {{entries.description}}
          </div>
          <div style="padding-top:2px;padding-bottom:2px;padding-right:2px;padding-left:2px">{{entries.amount | currency:'PHP ':'code':'1.2-2'}} </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef style="text-align:right;flex: 0 1 30px"></mat-header-cell>
        <mat-cell *matCellDef="let entries" style="text-align:right;flex: 0 1 30px">
          <!-- <button mat-icon-button (click)="onDetails(entries)">
                    <mat-icon color="primary" class="mat-24" aria-label="detail">description</mat-icon>
                  </button> -->
          <!-- <button mat-icon-button (click)="onEdit(entries)">
                  <mat-icon color="primary" class="mat-24" aria-label="edit">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="onDelete(entries)" >
                    <mat-icon color="primary" class="mat-24" aria-label="edit">close</mat-icon>
                </button> -->
          <div (click)="onDelete(entries)" style="cursor:pointer">
            <mat-icon color="primary" class="mat-24" aria-label="edit">close</mat-icon>
          </div>
        </mat-cell>
      </ng-container>

      <!-- <mat-header-row *matHeaderRowDef="column_headers"></mat-header-row> -->
      <mat-row *matRowDef="let row; columns: column_headers;"></mat-row>
    </mat-table>
    <div *ngIf="data_source.has_entries === true" class="mat-elevation-z2" style="min-height: 2px"></div>
    <div *ngIf="data_source.has_entries === true" class="flex-container summary-item  mat-elevation-z5" [style.background]="data_source.total< 0 ? '#EF5350' :'#3F51B5'"
      style="color:white">
      <span style="padding-top:3px" matTooltip="share this!">
          <mat-icon class="mat-36" aria-label="share">share</mat-icon>
      </span>
      <span class="fill-remaining-space"></span>
      <span>{{data_source.total | currency:'PHP ':'code':'1.2-2'}}</span>
      


    </div>
  </div>
</div>
