<div mat-dialog-container>
    <mat-toolbar color="primary" class="mat-elevation-z2">
      <mat-card-header>{{title}}</mat-card-header>
    </mat-toolbar>
    <div class="message">
      <p>{{message}}</p>
    </div>
    <div style="padding: 5px;float:right">
      <button *ngIf="ok_visible === true" mat-button color="primary" (click)="onOk()" tabindex="2">Ok</button>
      <button *ngIf="cancel_visible === true" mat-button color="primary" (click)="onCancel()" tabindex="3">Cancel</button>
      <button *ngIf="yes_visible === true" mat-button color="primary" (click)="onYes()" tabindex="2">Yes</button>
      <button *ngIf="no_visible === true" mat-button color="primary" (click)="onNo()" tabindex="3">No</button>
    </div>
    
    
</div>
  