<div mat-dialog-container>
  <!-- <mat-toolbar color="primary" class="mat-elevation-z2">
    <mat-card-header>{{title}}</mat-card-header>
  </mat-toolbar> -->
  <div style="padding-left:10px">
    <h3 clss="display-1" style="color:rgb(32, 32, 32)">{{title}}</h3>
  </div>
  <div class="event">
    <form [formGroup]="event_form">
            <mat-form-field style="width: 100%">
                <input 
                  matInput type="text" 
                  id="description" 
                  name="description"
                  placeholder="Description" 
                  formControlName = "description">
                  <mat-error *ngIf="event_form.controls.description.invalid && event_form.controls.description.touched" style="color:red">Description name is empty.</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <input 
                  matInput [matDatepicker]="picker" 
                  placeholder="Choose a date" 
                  name="date"
                  formControlName="date" 
                  [min]="min_date"
                  >
                <mat-datepicker-toggle 
                  matSuffix [for]="picker"
                  [disabled]="action === constant.action_view"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="event_form.controls.date.invalid">Date is invalid.</mat-error>
            </mat-form-field>
            <div>
                <mat-checkbox 
                *ngIf="action !== constant.action_add" 
                name="is_closed"
                formControlName="is_closed"
                >
                  Closed
              </mat-checkbox>
            </div>
     
         
       
     </form>
    <div class="flex-container col-end">
      <button *ngIf="action === constant.action_view" mat-button (click)="onEdit()" tabindex="0">Edit</button>  
      <button *ngIf="action !== constant.action_view" mat-button (click)="onCancel()" tabindex="2">Cancel</button>
      <div class="spacer"></div>
      <button *ngIf="action === constant.action_view" mat-button color="primary" (click)="onCancel()" tabindex="2">Close</button>
      <button *ngIf="action !== constant.action_view" mat-button color="primary" (click)="onSaveEvent()" tabindex="0">Save</button>
    </div>
  </div>
</div>
