<div mat-dialog-container>
  <!-- <mat-toolbar color="primary" class="mat-elevation-z2">
    <mat-card-header>{{title}}</mat-card-header>
  </mat-toolbar> -->
  <div style="padding-left:10px">
    <h3 clss="display-1" style="color:rgb(32, 32, 32)">{{title}}</h3>
  </div>
  <div class="event">
    <mat-form-field>
        <input 
          matInput type="text" 
          id="description" 
          placeholder="Description" 
          [(ngModel)]="event.description"
          [disabled]="action === constant.action_view"/>
    </mat-form-field>
    <mat-form-field >
        <input 
          matInput [matDatepicker]="picker" 
          placeholder="Choose a date" 
          [(ngModel)]="event.date" 
          [min]="min_date"
          [disabled]="action === constant.action_view">
        <mat-datepicker-toggle 
          matSuffix [for]="picker"
          [disabled]="action === constant.action_view"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>
        <mat-checkbox 
        *ngIf="action !== constant.action_add" 
        [(ngModel)]="event.is_closed"
        [disabled]="action === constant.action_view">
          Closed
      </mat-checkbox>
    </div>
    <div class="flex-container col-end">
      <button *ngIf="action === constant.action_view" mat-button (click)="onEdit()" tabindex="0">Edit</button>  
      <button *ngIf="action !== constant.action_view" mat-button (click)="onCancel()" tabindex="2">Cancel</button>
      <div class="spacer"></div>
      <button *ngIf="action === constant.action_view" mat-button color="primary" (click)="onCancel()" tabindex="2">Close</button>
      <button *ngIf="action !== constant.action_view" mat-button color="primary" (click)="onSaveEvent()" tabindex="0">Save</button>
    </div>
  </div>
</div>
