<div  class="mat-elevation-z24">
  <mat-progress-bar *ngIf="session.is_processing == true" mode="indeterminate" color="accent"></mat-progress-bar>
  <mat-toolbar color="primary">
    <img src="../../assets/logo_sm_white.png" width="30px" height="30px"/> 
    <span>&nbsp;Spendlist</span>
    <span class="fill-remaining-space"></span>
    <span>
        <button mat-button [matMenuTriggerFor]="menu">
            <img style="border-radius: 50%" src={{user_picture}} width="25px" height="25px">&nbsp;{{user_name}}
        </button>
        <mat-menu #menu="matMenu" >
            <button mat-menu-item (click)="onAbout()">
                <mat-icon class="md-24" aria-label="about the app">info</mat-icon>
                About the app
            </button>
            <button mat-menu-item (click)="onLogout()">
                <mat-icon class="md-24" aria-label="logout">exit_to_app</mat-icon>
                Logout
            </button>
        </mat-menu>
    </span>
  </mat-toolbar>
</div>
<!-- <div class="notice">
  <p>Note : Lorem ipsum dolor sit amet, mei utinam sanctus tractatos at, ei mediocrem philosophia mel. At case tation oblique vel, ei omnium mediocritatem duo. Nam populo malorum voluptatibus ne, his et autem fabellas constituto. Ei esse decore iisque mea. Mel aeque nemore ea. Est in eius novum quaestio, id nec zril democritum persequeris.</p>
</div> -->
<div>
    <router-outlet></router-outlet>
</div>



<!-- <div>
  <h4>Dashboard</h4>
  <p>{{user_name}} | {{user_email}}</p>
  <img src={{user_profile}} width="50" height="50">
  <br/>
  <div style="border-style: solid">
      <app-events [events]="events"></app-events>
  </div> 
  <br/>
  <button id="logout" (click)="logout()">Logout</button>
</div> -->
